body {
	background-color: #f7f7f2;
    margin-left: 20px;     
    margin-right: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: left;
}
navbutons{
	text-align: center;
}
.p1 {
	font-size: 20px;
}
figcaption {
	color: #737677;
}
a.listlinks:hover {
	
}
a.listlinks:link {
	 color: #b00ed1;
}
a.listlinks:visited {
	 color: #0c2faf;
     	
}
a.listlinks:active {
	 color: red;
}
.container1 {
	background-color: #e6e6e6;
}
.exp{
	height: 1000px;
}