html {
	 background-color: white
}
body {
     background-color: #dddddd; 
     font-family: serif;
     border-bottom: 30px;
}
li {
     font-size: 0.5cm;
}
/* top bar courtesy of w3schools */
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
ul {
  text-align: center;
}
ul {
  display: inline-block;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Container tables */
div.purple {
     background-color: #EBD1EA;
}
div.table {
    border: 60px;
    margin: 20px;
	padding-left: 200px;
	padding-right: 150px;
	padding-top: 25px;
}
/* Lazy padding */
h5.fullfill {
     padding-bottom: 270px;
}

p.bottom1F09 {
     padding-bottom: 1cm;
     font-size: 0.9cm;
	 color: red;
	 font-family: fantasy;
}
h6.bottom2 {
     padding-bottom: 2cm;
}
h6.bottom03 {
     padding-bottom: 0.3cm;
}
h6.top2 {
     padding-top: 2cm; 
}
h6.top05 {
     padding-top: 0.5cm; 
}
h6.top02 {
     padding-top: 0.2cm; 
}
h6.safe {
	 padding-top: 0.000001cm;
}
h6.tinytext {
	 font-size: 0.25cm;
}
/* other fonts */
/* header2 used for front-page */
h1.header2 {
	 margin-top: 150px;
	 margin-left: 160px;
	 margin-right: 160px;
	 font-family: serif;
	 font-size: 0.6;
	 color: red;
}
h2.normal {
	 font-family: serif;
	 font-size: 0.4;
}
h1.header {
     font-size: 0.8cm;
	 color: red;
	 font-family: fantasy;
} 
/* converting to external for Essay.html */
header.essay {
     font-family: fantasy;
	 font-size: 1.65cm;
	 padding-top: 1cm;
	 color: #c22418;
}
h2.essay {
     font-family: helvetica;
	 font-size: 0.5cm;
	 padding-top: 1cm;
	 padding-left: 1cm;
	 padding-right: 1cm;
}
button.essay {
     font-size: 0.5cm;
	 padding-bottom: 0.3cm;
	 padding-top: 0.3cm;
	 padding-left: 0.3cm;
	 padding-right: 0.3cm;
	 color: darkblue;
}
